#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: #1E2D3B;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    height: 100vh;
    overflow: hidden;
}